body {
  background:linear-gradient(#b7c9cf, transparent),
  linear-gradient(to top left, grey, transparent),
  linear-gradient(to bottom right, #8caca6, transparent),
  linear-gradient(to top right, #000, transparent);
  background-blend-mode: screen;

}
  @font-face {
    font-family: 'SuisseWorks-Regular';
    src:    url('SuisseWorks/SuisseWorks-Regular.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-Regular.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-Regular.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-Regular.otf');
    font-family: 'SuisseWorks-RegularItalic';
    src:    url('SuisseWorks/SuisseWorks-RegularItalic.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-RegularItalic.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-RegularItalic.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-RegularItalic.otf');
    font-family: 'SuisseWorks-Medium';
    src:    url('SuisseWorks/SuisseWorks-Medium.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-Medium.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-Medium.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-Medium.otf');
    font-family: 'SuisseWorks-MediumItalic';
    src:    url('SuisseWorks/SuisseWorks-MediumItalic.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-MediumItalic.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-MediumItalic.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-MediumItalic.tof');
    font-family: 'SuisseWork-Bold';
    src:    url('SuisseWorks/SuisseWorks-Bold.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-Bold.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-Bold.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-Bold.otf');
    font-family: 'SuisseWork-BoldItalic';
    src:    url('SuisseWorks/SuisseWorks-BoldItalic.woff')format('woff');
    src:    url('SuisseWorks/SuisseWorks-BoldItalic.woff2')format('woff2');
    src:    url('SuisseWorks/SuisseWorks-BoldItalic.ttf')format('truetype');
    src:    url('SuisseWorks/SuisseWorks-BoldItalic.otf');

    url('fonts/icomoon.ttf?hsw0h3') format('truetype'),
    url('fonts/icomoon.woff?hsw0h3') format('woff'),
    url('fonts/icomoon.svg?hsw0h3#icomoon') format('svg');
    font-family: 'SuisseIntl-SemiBold';
    src:    url('.../SuisseIntl/SuisseIntl-SemiBold.woff')format('woff');
    src:    url('.../SuisseIntl/SuisseIntl-SemiBold.woff2')format('woff2');
    src:    url('.../SuisseIntl/SuisseIntl-SemiBold.ttf')format('truetype');
    src:    url('.../SuisseIntl/SuisseIntl-SemiBold.otf');
    font-family: 'SuisseIntl-Bold';
    src:    url('.../SuisseIntl/SuisseIntl-Bold.woff')format('woff');
    src:    url('.../SuisseIntl/SuisseIntl-Bold.woff2')format('woff2');
    src:    url('.../SuisseIntl/SuisseIntl-Bold.ttf')format('truetype');
    src:    url('.../SuisseIntl/SuisseIntl-Bold.otf');
    font-family: 'SuisseIntl-Regular';
    src:    url('.../SuisseIntl/SuisseIntl-Regular.woff')format('woff');
    src:    url('.../SuisseIntl/SuisseIntl-Regular.woff2')format('woff2');
    src:    url('.../SuisseIntl/SuisseIntl-Regular.ttf')format('truetype');
    src:    url('.../SuisseIntl/SuisseIntl-Regular.otf');
    font-family: 'SuisseIntl-RegularItalic';
    src:    url('.../SuisseIntl/SuisseIntl-RegularItalic.woff')format('woff');
    src:    url('.../SuisseIntl/SuisseIntl-RegularItalic.woff2')format('woff2');
    src:    url('.../SuisseIntl/SuisseIntl-RegularItalic.ttf')format('truetype');
    src:    url('.../SuisseIntl/SuisseIntl-RegularItalic.otf');

    url('fonts/icomoon.ttf?hsw0h3') format('truetype'),
    url('fonts/icomoon.woff?hsw0h3') format('woff'),
    url('fonts/icomoon.svg?hsw0h3#icomoon') format('svg');
  }

  #left {
    transition: all 2s;
    width:50%;
    float: left;
    margin: 10px 10px 10px -80px;
    margin-left: auto;
  }

  #right {
    transition: all 2s;
    width:50%;
    float: right;
    margin: 10px 10px 0px -70px;
    margin-left: auto;
  }
  #essayright {
    transition: all 2s;
    width:50%;
    float: right;
    margin: 10px ;
    margin-left: auto;
  }

  #essayleft {
    transition: all 2s;
    width:50%;
    float: left;
    margin: 10px;
    margin-left: auto;
  }
  /* img{
    width: 50%;
    float: left;
    margin: 10px 10px 10px -80px;
    margin-left: auto;
  } */

  .large {
    height: 100vh;
    transition: all 5s;

  }

  h5{
    color: black;
    font-family:'SuisseIntl-Medium', Fallback, sans-serif;
    font-size: 120%;
    line-height: 95%;
    margin-left: 0px;
    margin-bottom:0px;
  }

  h2{
    color: black;
    font-family:'SuisseIntl-SemiBold';
    font-size: 300%;
    line-height: 95%;
    margin-left: 0px
  }

  p{
    color: black;
    font-family:'SuisseWorks-Regular';
    font-size: 120%;
    letter-spacing: inherit;
    line-height: 98%;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:1px;
    text-align: left;
    /* word-spacing:-4px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
  }

  h1{
    margin-left:20px;
    color: black;
    font-family:'SuisseIntl-SemiBold';
    font-size: 70%;
    line-height: 95%;
    text-align: justify;

    }
  }

#footer {
    font-family:'SuisseIntl-SemiBold';
    margin-left:30vw;

}
  .lead{
  font-family:'SuisseWorks-Italic';
  margin-left: 10px;
  margin-right:10px;
  padding:0px;
  font-size:105%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;

  }
a{
  font-family:'SuisseIntl-Bold';
  color:black;

}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.2em;
}
  .bigfoot-footnote__content{
    margin-left:20px;
    color: black;
    font-family:'SuisseIntl-SemiBold';
    font-size: 70%;
    line-height: 95%;
    text-align: justify;

  }
ol{
  padding-inline-start:0;
}
  .container {
       /* margin: 0%; */
       max-width: 50%;
       float:left;
     }
     .container img {
       width: 100%;
     }
     .container .pull-left {
       width: 50%;
       float: left;
       margin: 0px 20px 20px -70px;
     }
     @media (min-width: 750px) {
       body {
         font-size: 16px;
         line-height: 1.6;
       }
       .container {
         margin: auto;
       }
     }
